/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*{
    margin:0;
    padding:0;
    text-align: center;
}

.grid-container1{
    padding: 2%;
    display:grid;
    gap: 30px;
    grid-template-columns:auto auto;
    background-color:#D6D6D6;
}

.grid-container2 {
    gap: 20px ;
    display:grid;
    background-color:#2196F3;
    grid-template-columns: auto auto auto auto;
}

.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    width:170px;
    height:130px;
    /* border:1px solid black; 
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align:center;
    font-size: 30px;
    padding: 20px;
}

.grid-item a{
    text-decoration:none;
}

.grid-item p{
    font-family: Poppins;
    color:black;
}

.grid-item a:hover{
    background-color: green;
} */

/* .grid-item img{
    height: 80%;
    width: 90%;
    margin-bottom: 2px;
} */
/* *{
    margin:0;
    padding:0;
    text-align:center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #D6D6D6;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(179, 57, 57, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 30px;
    text-align: center;
  } */
  *{
      margin:0;
      padding:0;
  }
  .State{
      text-align:center;
      color:gray;
      text-decoration: underline;
      text-decoration-color: rgb(172, 170, 170);
  }
  .District-row{
    margin-top:1%;
    display:flex;
    justify-content:space-between;
}

.District-col{
    margin:0 5%;
    flex-basis:31%;
    background:#c2e0f8;
    border-radius:10px;
    margin-bottom:5%;
    padding:40px 8px;
    box-sizing:border-box;
    transition:0.2s;
}

h3{
    text-align:center;
    font-weight:600;
    margin:10px 0;
}
.District-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2); 
}

@media(max-width:700px){
    .row{
        flex-direction:column;
    }
}